{% extends "layout" %}

{% block content %}
<h2>{{ actor.name }}</h2>
<h3>IMDB link</h3>
<pre>
<a href="{{ actor.imdb }}">{{ actor.imdb }}</a>
</pre>
<h3>Rottentomatoes link</h3>
<pre>
<a href="{{ actor.rottentomatoes }}">{{ actor.rottentomatoes }}</a>
</pre>

{% endblock %}