{% extends "layout" %}

{% block content %}
<h2>{{ director.name }}</h2>
<h3>IMDB link</h3>
<pre>
<a href="{{ director.imdb }}">{{ director.imdb }}</a>
</pre>
<h3>Rottentomatoes link</h3>
<pre>
<a href="{{ director.rottentomatoes }}">{{ director.rottentomatoes }}</a>
</pre>

{% endblock %}