{% extends 'layout' %}

{% block title %}Rendezők böngészése{% endblock %}
{% block content %}
  <h1>Rendezők böngészése</h1>
  <form action="/directors" method="GET">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="inputDirectorName">Rendező neve</label>
          <input type="text" class="form-control" placeholder="Rendező neve" id="inputDirectorName" name="directorName" value="{{ filters.directorName }}">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-block btn-primary" type="submit">Szűrés</button>
        </div>
      </div>
    </div>
  </form>
  <h2>Találatok ({{ directors.total }})</h2>
  {% for directorBatch in directors.data | batch(3) %}
  <div class="row">
    {% for director in directorBatch %}
    <div class="col-md-4">
      <a class="result-item" href="/director/{{ director.id }}">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>{{ director.name }}</strong><br>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  Nincs a szűrésnek megfelelő film.
  {% endfor %}
  {% if directors.lastPage > 1 %}
  <div class="text-center">
    <ul class="pagination">
      {% for page in range(1, directors.lastPage + 1) %}
      {% if page == directors.currentPage %}
      <li class="active">
        <a href="/directors?p={{ page }}&amp;directorName={{ filters.directorName }}&amp;createdBy={{ filters.createdBy }}">{{ page }}</a>
      </li>
      {% else %}
      <li><a href="/directors?p={{ page }}&amp;directorName={{ filters.directorName }}&amp;createdBy={{ filters.createdBy }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}
