{% extends "layout" %}

{% block content %}
<h2>{{ movie.name }}</h2>
<p>{{ movie.category.name }}</p>
<h3>IMDB link</h3>
<pre>
<a href="{{ movie.imdb }}">IMDB</a>
</pre>
<h3>Rottentomatoes link</h3>
<pre>
<a href="{{ movie.rottentomatoes }}">Rottentomatoes</a>
</pre>
<h3>Trailer link</h3>
<pre>
<a href="{{ movie.trailer }}">trailer</a>
</pre>
<h3>Rendező</h3>
<pre>
<a href="/director/{{ movie.director.id }}">{{ movie.director.name }}</a>
</pre>
<h3>Kategória</h3>
<pre>
{{ movie.category.name }}
</pre>

{{ csrfField | safe }}

<a href="/movies/{{ movie.id }}/edit" class="btn btn-default">
    Szerkeszt
</a>
<a id="btnDelete" href="/movies/{{ movie.id }}/delete" class="btn btn-danger">
    Töröl
</a>

<span class="help-block"></span>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}